.col-lg-12.col-md-12.col-sm-12.col-xs-12.inline(ng-controller='BarCtrl as barctr')
  .card.panel-monitor
    .panel-heading
      .btn-group.grup-button-right(role='group')
        button.grup-menu-colum.btn-ms(type='button',data-toggle="modal", data-target="#myModal")
          span.glyphicon.glyphicon-tasks(aria-hidden='true')
      .btn-group(role='group')
        h2.panel-title(buttons='no') {{dispositivo.Dispositivo}} 
      span.label(ng-class="[getClass(), 'b']",style="margin-left: 10px;") {{status}}
    .panel-body
      .li-monitor
        small Sensor: {{dispositivo.Sensor}}
        .unit-measure.font-bold.text-success
          | Unidad: {{dispositivo.Unidad}} 
          i.fa.fa-bolt
        .row
          .col-lg-3.hidden-sm.hidden-xs.hidden-md
             div( height='80',style="height: 190px;")
               pie-chart(data='data', options='options' )
          .col-lg-8
            canvas#bar.chart.chart-bar(height='80', chart-data='tempChart.data', chart-labels='tempChart.labels', chart-options='tempChart.options', chart-dataset-override='tempChart.datasetOverride', chart-colors='tempChart.colors') chart-series="series"
#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel',ng-controller='alertController as alCtrl')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title {{dispositivo.Dispositivo}}
      .modal-body
        ul#myTabs.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a#alert-tab(href='#alerts', role='tab', data-toggle='tab', aria-controls='alerts', aria-expanded='true') Alerts
        .container-fluid
            #alerts.tab-pane.fade.active.in(role='tabpanel', style='    padding-top: 15px;', aria-labelledby='profile-tab')
              form.form-horizontal
                .form-group
                  .col-sm-offset-2.col-sm-10
                    #alertbtn.button.btn.btn-success(type='button',ng-click="toggleAlert($event)") Activada
                .form-group
                  label.col-sm-2.control-label(for='val') Alerta Value
                  .col-sm-10
                    input#val.form-control(type='text', placeholder='498')
                .form-group
                  label.col-sm-2.control-label(for='correo') Correo
                  .col-sm-10
                    input#correo.form-control(type='email', placeholder='mail@nodemailer.com')
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save changes
        
#modalWidget.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#myModalLabel.modal-title Widget
      .modal-body
        ul#myTabs.nav.nav-tabs(role='tablist')
          li.active(role='presentation')
            a#widget-tab(href='#widgets', role='tab', data-toggle='tab', aria-controls='alerts', aria-expanded='true') New Widget
        .container-fluid
            #widgets.tab-pane.fade.active.in(role='tabpanel', style='    padding-top: 15px;', aria-labelledby='widget-tab')
              form.form-horizontal
                .form-group
                  .col-sm-offset-2.col-sm-10
                    .checkbox
                      label
                        input(type='checkbox')
                        |  JSON Path
                .form-group
                  label.col-sm-2.control-label(for='value') Valor
                  .col-sm-10
                    input#correo.form-control(type='text', placeholder='$.Valor')
                .form-group
                  label.col-sm-2.control-label(for='value') Nombre
                  .col-sm-10
                    input#correo.form-control(type='text', placeholder='$.dispositivo')
                .form-group
                  label.col-sm-2.control-label(for='value') Unidad
                  .col-sm-10
                    input#correo.form-control(type='text', placeholder='$.unidad')
                .form-group
                  label.col-sm-2.control-label(for='value') Sensor
                  .col-sm-10
                    input#correo.form-control(type='text', placeholder='$.sensor')
                .form-group
                  label.col-sm-2.control-label(for='value') Lugar
                  .col-sm-10
                    input#correo.form-control(type='text', placeholder='$.Lugar')
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save changes