doctype html
html(lang='en', ng-app='controlpanel')
  head
    title  ControlPanelJS
    style.anchorjs.
     // meta(name='HandheldFriendly', content='true')
      meta(name='viewport', content='width=device-width, initial-scale=0.666667, maximum-scale=0.666667, user-scalable=0')
      meta(name='viewport', content='width=device-width')
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")  
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link#bs-theme-stylesheet(href='data:text/css;charset=utf-8,', data-href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', rel='stylesheet')
    //link(href='https://getbootstrap.com/assets/css/docs.min.css', rel='stylesheet')
    link(href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', rel='stylesheet')
    link(href='/angularjs-dragula/dist/dragula.min.css', rel='stylesheet', type='text/css')
    link(href='/ng-material/mfb/dist/mfb.css', rel='stylesheet')
    link(href='stylesheets/menuslide.css', rel='stylesheet')
    link(href='stylesheets/dashboard.css', rel='stylesheet')
    link(href='/nvd3/nv.d3.min.css', rel='stylesheet')
    link(href='/bower_components/angular-gridster/dist/angular-gridster.min.css', rel='stylesheet')
 
  body.cbp-spmenu-push(style='background-color: #f3f3f4;')
    
    #st-container
      nav.navbar.navbar-index.navbar-inverse
        #st-trigger-effects.column
          button.menu-trigger.btn-lg(type='button', show-menu='click')
            span.glyphicon.glyphicon-th
        .container
          .navbar-header
           
          #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
               
      menu-slide
      .container
        .row
          div(ng-view='')
  
  
      footer#console.console(ng-controller='BarCtrl as barctr')
        div(ng-repeat="c in consola track by $index") 
         li {{c}}
      nav(mfb-menu='', position='br', effect='zoomin', label='hover here', active-icon='ion-edit', resting-icon='ion-plus-round', toggling-method='click')
            //button(mfb-button='', icon='ion-levels', label='Dashboard',  mfb-button-close)
            //button(mfb-button='', icon='ion-usb', label='Dispositivo',  mfb-button-close)
            button(mfb-button='', icon='ion-speedometer', label='Widget', mfb-button-close)
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src="/bower_components/jquery-resize/jquery.ba-resize.js")
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
  
  script(src="/bower_components/angular-gridster/dist/angular-gridster.min.js")
  script(type='text/javascript', src='/angularjs-dragula/dist/angular-dragula.min.js')
  script(src='/angular-route/angular-route.js')
 
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
  script(src='/chartjs/Chart.min.js')
  script(src='/angular-chartjs/angular-chart.min.js')
  script(src='/ng-material/src/mfb-directive.js')
  script( src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js", charset="utf-8")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.js")
  script(src="https://rawgit.com/krispo/angular-nvd3/v1.0.5/dist/angular-nvd3.js")
  script(type='text/javascript', src='js/gaugeD3.js')
  script(type='text/javascript', src='js/app.js')
  script(type='text/javascript', src='js/menuModule.js')
  script(type='text/javascript', src='js/dashboardModule.js')
  script(type='text/javascript', src='js/monitorModule.js')
  script(type='text/javascript', src='js/dispositivosModule.js')
  script(type='text/javascript', src='js/menuSlide.js')
  script(type='text/javascript', src='js/ConfigModule.js')
  script(type='text/javascript', src='js/pie-chart.min.js')
  script(type='text/javascript', src='math/math.min.js')
  script(type='text/javascript', src='/jspath/jspath.js')
  script(type='text/javascript', src='/socket/socket.io.min.js')
  script(src="/bower_components/moment/min/moment.min.js")
  script(src="/bower_components/humanize-duration/humanize-duration.js")
  script(src="/bower_components/angular-timer/dist/angular-timer.min.js")
 
 
  
  
