nav.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left#cbp-spmenu-s1
  h3 Menu
  a(href="#/",show-menu='click') Dashboard
  a(href="#/dispositivos",show-menu='click') Dispositivos
  a(href="#/Reporte",show-menu='click') Reporte
  a(href="#/config",show-menu='click') Configuracion
div.overlay(toggle-menu="click")